@use '@angular/material' as mat;

html {
  height: 100%;

  --status-danger: #B3211F;
  --status-danger-bg: #FCEBEB;
  --status-warning: #8A5A00;
  --status-warning-bg: #FAEEDA;
  --status-success: #3B6D11;
  --status-success-bg: #EAF3DE;
  --status-info: #185FA5;
  --status-info-bg: #E6F1FB;
}

html.dark {
  color-scheme: dark;
  @include mat.theme((
    color: (
      primary: mat.$violet-palette,
      tertiary: mat.$orange-palette,
      theme-type: dark,
    ),
    typography: Roboto,
    density: 0
  ), $overrides: (
    primary: #534AB7,
    primary-container: #3d3684,
    on-primary: #FFFFFF,
    on-primary-container: #EEEDFE,
    surface: #121212,
    surface-container: #1E1E1E,
  ));

  --status-danger-text: #FF8A85;
}

html.light {
  color-scheme: light;
  @include mat.theme((
    color: (
      primary: mat.$violet-palette,
      tertiary: mat.$orange-palette,
      theme-type: light,
    ),
    typography: Roboto,
    density: 0
  ), $overrides: (
    primary: #534AB7,
    primary-container: #E6E0FF,
    on-primary: #FFFFFF,
    on-primary-container: #190864,
    surface: #FFFBFF,
    surface-container: #F2EDFA,
  ));

  --status-danger-text: #B3211F;
}

body {
  margin: 0;
  height: 100%;
  font: var(--mat-sys-body-medium);
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
